body{
				background-image:url("page-bg.jpg");
				background-repeat:no-repeat;
				background-attachment:fixed;
			}
			#login-box{
				width:52%;
				height:73%;
				color:#999999;
				margin-left:40%;
				margin-top:7%;
				border-radius:5px;
				background: -moz-linear-gradient(right, black, gray);
  				background: linear-gradient(to right, black , gray); 
			}
			#login-heading{
				font-size:60px;
				font-family:arial;
				font-weight:bold;
			}
			#login-heading-box{
				width:100%;
				height:20%;
				text-align:center;
				
				
			}
				
			#form-box{
				width:100%;
				height:80%;
				position:bottom;
				margin-top:-12%
				
			}
			#form{
				margin-left:250px;
				margin-top:50px;
			}
			#label{
				color:#b3b3b3;
				font-size:20px;
				font-weight:bold;
			}
			
			th{
				text-align:left;
				padding:15px;
					
			}
			.textbox{
				width:300px;
				height:30px;
				border-radius:6px;
				background-color:#b3b3b3;
				padding:10px;
				color: #ffffff;
				font-size:20px;
				
			}
			#button{
				width:100px;
				height:30px;
				border-radius:6px;
				font-size:15px;
				font-weight:bold;
				background-color:#b3b3b3;
			}
			::-webkit-input-placeholder { 
  				color: #ffffff;
				font-size:20px;
				
			}
			::-moz-placeholder { 
  				color: #ffffff;
			}
			#textbox1{
				
				border-radius:6px;
				background-color:#b3b3b3;
				padding:10px;
				color: #ffffff;
				font-size:16px;
					
			}
			#forgotlink{
				text-decoration:none;
			}
			#reghere{
				width:50%;
				margin-left:65%;
				
			}
			#texti{
				color:#b3b3b3;
				font-size:16px;
				font-weight:bold;
			}
			.error-message{
				color:#ff6666;
				font-size:15px;
				font-family:arial;
				font-weight:bold;
			}